.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 50%;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-control{
    padding: 10px;
    border-radius: 8px;
    border: 0;
    outline: none;
    width: 90%;
    border: 1px solid #1b2e4b;
    color: #009688;
    font-size: 15px;
    padding: 8px 10px;
    letter-spacing: 1px;
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    background: #1b2e4b;
    height: auto;
    transition: none;
}
.form-group label{
    color: #888ea8;
    margin-bottom: 5px;
    font-size: 16px;
}
.create-btn{
    color: #fff !important;
    background-color: #4361ee !important;
    border-color: #4361ee;
    box-shadow: 0 10px 20px -10px rgba(27, 85, 226, 0.59);
    padding: 0.4375rem 1.25rem;
    text-shadow: none;
    font-size: 20px;
    font-weight: 300;
    color: #3b3f5c;
    white-space: normal;
    word-wrap: break-word;
    transition: 0.2s ease-out;
    touch-action: manipulation;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 55px;
    
}
.btn-col{
    text-align: right;
    /* margin-right: 10px; */
}